<div class="contents">
  <%# 新規投稿一覧ここから %>
  <div class="posts_new container">
     <div class="row row-cols-2">
      <%# <div class="col-sm"> %>
      <% @posts.each do |post| %>
      <div class="card col-sm">
       <img src="<%= "/post_images/#{post.image}" %>" alt="投稿した画像" class="post_image">
       <div class="card-body">
       <span class="badge badge-pill badge-info"><%= post.category %></span>
        <p class="card-text"><%= post.content %></p>
        <p class="card-area"><%= post.area %></p>
        <span class="badge badge-secondary">最終編集</span><p class="card-time"><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
        <%= link_to "/posts/#{post.id}" do %>
          <button class="btn btn-primary btn-sm">詳細へ</button>
      <% end %>
      </div>
  </div>
    <% end %>
        <%# </div> %>
        </div>
      </div>
  </div>
  <%# 新規投稿一覧ここまで %>

