<div class="container-fluid">
<%# 投稿詳細ここから %>
<div class="show-detail row bg-white">
<%# 画像/編集時期%>
  <div class="post-show-image col-8">
    <img src="<%= "/post_images/#{@post.image}" %>" alt="投稿した画像" class="post_image">
     <span class="badge badge-secondary">最終編集: <%= l @post.updated_at, format: :long %></span>
  </div>
<%# 分類/場所/期限/価格 %>
<div class="show-info col-4">
      <span class="badge badge-pill badge-info"><%= @post.category %></span><br>
      <span class="badge badge-success">場所</span><br>
      <%= @post.area %><br>
      <span class="badge badge-warning">期限: <%= l @post.limit, format: :short  %></span><br>
      <span class="badge badge-danger">¥</span>
      <%= @post.price.to_i %><br>
      <div class="edit-destroy">
        <% if @post.user_id == @current_user.id %>
      <%= link_to "/posts/#{@post.id}/edit" do %>
          <button class="btn btn-outline-info btn-sm">編集</button>
      <% end %>
      <%= link_to "/posts/#{@post.id}/destroy", method: :post do %>
          <button class="btn btn-outline-danger btn-sm">削除</button>
      <% end %>
       <% end %>
      </div>
      <%# 説明条件 %>
        <div class="post-content1">
        <p class="text-left text-break"> <%= @post.content %> </p>
        </div>
</div>
      <div class="post-content2">
        <p class="text-left text-break"> <%= @post.content %> </p>
        </div>
</div>
<%# 投稿詳細ここまで %>
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
            <%= form_tag("/posts/#{@post.id}/comments/create") do %>
   <div class="form-group">
          <textarea class="border" name="comment" placeholder="個数や数量、条件などを記入してください">
          </textarea>
 <input class="btn btn-outline-success" type="submit" value="投稿">
 </div>
 <% end %>
                  </div>
<%# コメント一覧 %>
        <div class="comment-index">
           <% @comments.each do |com| %>
        <div class="comment-area">
           <%= User.find(com.user_id).name %>
           <%= com.comment %>
           <%= l com.updated_at, format: :long %>

          </div>
          <% end %>
        </div>
 <%= debug(params) if Rails.env.development? %>
</div>





