<!DOCTYPE html>
<html>
  <head>
    <title>JimoShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <%= stylesheet_link_tag 'application','home','index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# ヘッダーここから %>
<header>
 <nav class="navbar navbar-expand-lg  navbar-light bg-green">
  <a class="navbar-brand" href="#"><%= link_to image_tag('jimo_icon.png', class: 'logo'), "/" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" style="color: tomato" href="#">ログイン <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post/index">投稿一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">投稿履歴</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="user/new">新規登録</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</header>
<%# ヘッダーここまで %>
    <%= yield %>
<%# フッターここから %>
    <footer>
    <div class="footer_top">
    </div>
      <div class="footer_bottom">
      <p class="copyright">©︎2020-    y_h_tomo</p>
    </div>
    </footer>
<%# フッターここまで %>
  </body>
</html>